/**
 * Language Flags with SwagLanguagePack Fallback
 * 
 * This file provides flag styles that work as a fallback when SwagLanguagePack is not installed.
 * If SwagLanguagePack is installed, its flags take precedence.
 */

// Complete list of country codes for comprehensive flag support
$countryCodes: ad, ae, af, ag, ai, al, am, ao, aq, ar, as, at, au, aw, ax, az, ba, bb, bd, be, bf, bg, bh, bi, bj, bl, bm, bn, bo, bq, br, bs, bt, bv, bw, by, bz, ca, cc, cd, cf, cg, ch, ci, ck, cl, cm, cn, co, cr, cu, cv, cw, cx, cy, cz, de, dj, dk, dm, do, dz, ec, ee, eg, eh, er, es-ca, es-ga, es, et, eu, fi, fj, fk, fm, fo, fr, ga, gb-eng, gb-nir, gb-sct, gb-wls, gb, gd, ge, gf, gg, gh, gi, gl, gm, gn, gp, gq, gr, gs, gt, gu, gw, gy, hk, hm, hn, hr, ht, hu, id, ie, il, im, in, io, iq, ir, is, it, je, jm, jo, jp, ke, kg, kh, ki, km, kn, kp, kr, kw, ky, kz, la, lb, lc, li, lk, lr, ls, lt, lu, lv, ly, ma, mc, md, me, mf, mg, mh, mk, ml, mm, mn, mo, mp, mq, mr, ms, mt, mu, mv, mw, mx, my, mz, na, nc, ne, nf, ng, ni, nl, no, np, nr, nu, nz, om, pa, pe, pf, pg, ph, pk, pl, pm, pn, pr, ps, pt, pw, py, qa, re, ro, rs, ru, rw, sa, sb, sc, sd, se, sg, sh, si, sj, sk, sl, sm, sn, so, sr, ss, st, sv, sx, sy, sz, tc, td, tf, tg, th, tj, tk, tl, tm, tn, to, tr, tt, tv, tw, tz, ua, ug, um, un, us, uy, uz, va, vc, ve, vg, vi, vn, vu, wf, ws, xk, ye, yt, za, zm, zw;

// Base language flag styling (matches SwagLanguagePack exactly)
.language-flag {
    display: inline-block;
    height: 12px;
    width: 16px;
    border: 1px solid $gray-500;
    margin-top: 2px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;

    // Generate classes for each country code
    @each $countryCode in $countryCodes {
        &.country-#{$countryCode} {
            // Use relative URLs for proper port handling in Docker environments
            // Browser will try SwagLanguagePack first, then fall back to Reqser Plugin
            background-image: url("/bundles/swaglanguagepack/static/flags/#{$countryCode}.svg"), 
                              url("/bundles/reqserplugin/static/flags/#{$countryCode}.svg");
        }
    }
}

// Additional size variants
.language-flag--small {
    height: 10px;
    width: 14px;
}

.language-flag--medium {
    height: 16px;
    width: 22px;
}

.language-flag--large {
    height: 24px;
    width: 32px;
    border-width: 2px;
}

// Rounded corners variant
.language-flag--rounded {
    border-radius: 2px;
}

.language-flag--rounded-lg {
    border-radius: 4px;
}

